*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/ruby/.bundle
/ruby/vendor/bundle
/ruby/log/*
/ruby/tmp/*
/ruby/db/*.sqlite3
/ruby/public/system/*
/ruby/coverage/
/ruby/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

# xcode noise
build/*
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
*.mode1
*.mode2v3
*.mode1v3
xcuserdata
Snapshots
test-reports/

# osx noise
.DS_Store
Thumbs.db

# CocoaPods noise
Pods/

# Appcode noise
.idea/
