---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=BAABxOZCc0HksBAEvDVQHODGwzuYhT05D17uGswzfV4Uhsf73qCsyeYZBkiINU7gjDqZCyMFbirZBCZCO1aNQplKflP1T8rUj3LAYDJ2zzrLwdARYxQdgD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"df701e7fdcca6ce4e7fc273f340bfdc3d5283915"'
      Last-Modified:
      - '2013-02-10T00:21:50+0000'
    body:
      encoding: US-ASCII
      string: ! '{"id":"857085301","name":"Martin Gonto","first_name":"Martin","last_name":"Gonto","link":"http:\/\/www.facebook.com\/gonto","username":"gonto","gender":"male","email":"martin\u0040gonto.com.ar","timezone":-3,"locale":"en_US","verified":true,"updated_time":"2013-02-10T00:21:50+0000"}'
  recorded_at: Tue, 26 Feb 2013 22:05:36 GMT
recorded_with: VCR 2.4.0
